{% extends 'core/base.html' %}

{% block contenido %}
<style>
    body {
        background-color: black; 
        margin-top: 100px; 
    }

    
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #f9f7fa;
        padding: 8px;
        text-align: left;
        color: #faf4f4;
    }
</style>



    <h1>Biblioteca</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Libro</th>
                <th>Sucursal</th>
                <th>Fecha de Préstamo</th>
            </tr>
        </thead>
        <tbody>
            {% for biblioteca in bibliotecas %}
                <tr>
                    <td>{{ biblioteca.usuario }}</td>
                    <td>{{ biblioteca.libro }}</td>
                    <td>{{ biblioteca.sucursal }}</td>
                    <td>{{ biblioteca.fecha_prestamo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock contenido %}