{% extends 'core/base.html' %}


{% block contenido %}
<style>
    body {
        background-color: black; 
        margin-top: 100px; 
    }

    
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #f9f7fa;
        padding: 8px;
        text-align: left;
        color: #faf4f4;
    }
</style>




    <h1>Libros</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in libros  %}
                <tr>
        
                    <td>{{libro.titulo}}</td>
                    <td>{{libro.autor}}</td>
            
            
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock contenido %}
