{% extends 'core/base.html' %}


{% block contenido %}
    <style>
        body {
        background-color: black; 
        margin-top: 100px; 
        }

    
        table {
            border-collapse: collapse;
            width: 100%;
            }

        th, td {
            border: 1px solid #f9f7fa;
            padding: 8px;
            text-align: left;
            color: #faf4f4;
            }
</style>


    <h1>Usuarios</h1>
    
    
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Direccion</th>

            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios  %}
                <tr>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.direccion}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        
    
    
    
    

{% endblock contenido %}