{% extends 'core/base.html' %}

{% block contenido %}
<style>
    body {
        background-color: black; 
        margin-top: 100px; 
        }

    
        table {
             border-collapse: collapse;
            width: 100%;
            }

        th, td {
            border: 1px solid #f9f7fa;
            padding: 8px;
            text-align: left;
            color: #faf4f4;
            }
</style>

    <form  method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit">Guardar</button>
    </form>
    
{% endblock contenido %}